body {
	box-sizing: border-box;
	margin: 0;
}

.main-content {
	padding: 15px;
}

.text-right {
	text-align: right;
}

.page-heading {
	border-bottom: 5px solid #000;
	padding-bottom: 5px;
}

.primary-button {
	background-color: #008cba;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
}

.form-group {
	margin-block: 10px;
}

.form-group label {
	font-weight: 700;
}

.form-group input {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
